<div id="auton_straight" class="auton_mode">
    <p>Drive Straight</p>
</div>
<div id="auton_1" class="auton_mode">
    <p>Position 1</p>
</div>
<div id="auton_2" class="auton_mode">
    <p>Position 2</p>
</div>
<div id="auton_3" class="auton_mode">
    <p>Position 3</p>
</div>