<div id="auton-straight" class="auton-mode">
    <p>Drive Straight</p>
</div>
<div id="auton-1" class="auton-mode">
    <p>Position 1</p>
</div>
<div id="auton-2" class="auton-mode">
    <p>Position 2</p>
</div>
<div id="auton-3" class="auton-mode">
    <p>Position 3</p>
</div>