<div class="img-container" style="position: relative;">
    <img src="../images/motors_picture.png" style="height: 95%; width: 95%; position: absolute; top: 10px; left: 20px;" />
</div>
<div class="motors-container">
    <div id="front-left-motor" class="motor">
        <p>Front left motor</p>
        <progress val="0.75" value="100"></progress>
    </div>
    <div id="front-right-motor" class="motor">
        <p>Front right motor</p>
        <progress val="0.75" value="100"></progress>
    </div>
    <div id="back-left-motor" class="motor">
        <p>Back left motor</p>
        <progress val="0.75" value="100"></progress>
    </div>
    <div id="back-right-motor" class="motor">
        <p>Back right motor</p>
        <progress val="0.75" value="100"></progress>
    </div>
    <div id="elevator-motor" class="motor">
        <p>Elevator Motor</p>
        <progress val="0.75" value="100"></progress>
    </div>
</div>