<div class="img_container" style="position: relative;">
    <img src="../images/motors_picture.png" style="height: 95%; width: 95%; position: absolute; top: 10px; left: 20px;" />
</div>
<div class="motors_container">
    <div id="front_left_motor" class="motor">
        <p>Front left motor</p>
        <progress value="0.75"></progress>
    </div>
    <div id="front_right_motor" class="motor">
        <p>Front right motor</p>
        <progress value="0.75"></progress>
    </div>
    <div id="back_left_motor" class="motor">
        <p>Back left motor</p>
        <progress value="0.75"></progress>
    </div>
    <div id="back_right_motor" class="motor">
        <p>Back right motor</p>
        <progress value="0.75"></progress>
    </div>
    <div id="elevator_motor" class="motor">
        <p>Elevator Motor</p>
        <progress value="0.75"></progress>
    </div>
</div>