<div class="value_container">
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
    <p>programming gang</p>
</div>