/* Global ColorTheme Variables - */

:root {
    --primary-color: goldenrod;
    --secondary-color: #444;
    --label-color: #333;
}

/* Body and Titlebar Styling - */

.container-after-titlebar > * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-after-titlebar {
    /* A CSS hack to fix position relative to container: */
    transform: translateX(0) translateY(0);
    overflow: hidden !important;
}

.window-title {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Roboto";
    src: url(Roboto-Medium.ttf);
}

body, .container-after-titlebar {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
}

.container-after-titlebar {
    font-family: "Roboto";
}

/* Robot Connection Screen - */

body.login #login {
    display: flex;
}

#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 6;
}

#login :disabled {
    opacity: 0.6;
}
#login > * {
    height: 40px;
}
#login > button {
    margin-left: 5px;
}

#connect-address {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: text;
    outline: 0;
}

#connect {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.2s all ease;
}

#connect:hover {
    filter: brightness(110%);
}

/* Team and FRC-Game Logos - */

#logo-container {
    position: fixed;
    bottom: 10px;
    left: 28px;
    width: 470px;
    top: calc(15vh + 405px);
}

#logo {
    border-radius: 25px;
    width: 100%;
    height: 50%;
}

#logo > img {
    width: 100%;
    height: 100%;
}


.frc-logo-frame {
    border-radius: 25px;
    width: 270px;
    height: calc(50% - 10px);
    border: 1px solid darkgoldenrod;
    background-image: url("../../images/frc_icon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes recharging {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0;
    }
}


.frc-logo {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    opacity: 0;
    z-index: 1;
    background: rgb(255, 187, 0);
}

.frc-logo:hover {
    animation: recharging 5s infinite reverse;
}

/* Sidebar - */

#sidebar {
    position: fixed;
    top: 0;
    left: 2px;
    width: 16px;
    height: 100%;
    max-height: 100%;
    max-width: 500px;
    background: var(--label-color)/*rgb(11, 20, 20)*/;
    padding: 2px;
    z-index: 5;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.5s ease width;
}

#sidebar-content {
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 200;
    width: calc(90% - 18px);
    max-width: 500px;
    background: var(--label-color)/*rgb(11, 20, 20)*/; 
    height: 100%;
    color: rgb(194, 137, 137);
    padding: 25px; 
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s ease opacity;
}

.sb-key, .sb-val {
    color: var(--secondary-color);
    background: var(--primary-color);
    border: 1px solid darkgoldenrod;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.sb-key {
    width: 45%;
    border-radius: 2px 0 0 2px;
    border-right: 2px solid darkgoldenrod;
}

.sb-key.ui-draggable-dragging {
    font-weight: bold;
    width: auto !important;
    cursor: grabbing !important;
    border-right: none !important;
}

.sb-key.ui-draggable {
    cursor: grab;
}

.sb-val {
    width: 55%;
    border-radius: 0 2px 2px 0;
}

#sidebar-bar {
    font-size: 7.2pt;
    cursor: pointer;
    width: 12px;
    height: 100%;
    background: var(--primary-color); 
    position: absolute;
    top: 0px;
    right: 0px;
    color: var(--secondary-color);
    padding: 2px;
    text-align: center;
}

/* Topbar - */

#top-bar {
    position: fixed;
    top: 0px;
    left: 28px;
    height: calc(15vh - 5px);
    width: calc(100% - 28px);
    border: 5px solid transparent;
    display: flex;
    align-items: center;
}

#top-bar .subsection {
    width: auto;
    margin-right: 5px;
    height: calc(100% - 10px);
    display: inline-flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;
}

#top-bar .subsection > * {
    display: inline-flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}

#connection {
    padding: 20px;
    overflow: hidden;
    background-color: var(--secondary-color);
    width: auto;
    height: calc(100% - 10px);
    color: white;
    margin-right: 5px;
}

#robot-state {
    margin-right: 15px;
    position: relative;
    font-size: 14pt;
    color: gold;
    transform: translateY(50%);
}

#robot-state::before {
    content: "Robot State:";
    position: absolute;
    transform: translateY(-100%);
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    font-size: 12pt;
}

#connect-button {
    height: 50px;
    width: auto;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
    border-radius: 5px;
    font-weight: bold;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    font-size: 14px;
    transition: 0.2s all ease;
}

#connect-button:hover {
    filter: brightness(110%);
}

/* Match Timer */
#timer {
    font-family: "Roboto";
    display: inline-flex;
    height: calc(100% - 10px);
    font-size: 45pt;
    line-height: .8;
    color: white;
    transition: 1s ease color;
    align-items: center;
    background-color: var(--secondary-color);
}

@keyframes timerFlash {
    0% {
        color: gold;
    }

    50% {
        color: red;
    }

    100% {
        color: yellow;
    }
}

#timer > * {
    transform: translateY(25%);
    position: relative;
    color: gold;
}

#timer > *::before {
    content: "Match Time";
    position: absolute;
    transform: translateY(-150%);
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
    color: white;
    font-size: 14pt;
    font-family: "Roboto";
}

#battery {
    height: calc(100%);
    background-color: var(--secondary-color);
    padding: 0;
}

#voltage canvas, #powerdraw canvas {
    width: 90px;
    height: 90px;
    margin-right: 5px;
    margin-left: 5px;
    box-sizing: border-box;
    padding: 5px;
}

#battery-icon {
    background: url(../../images/volt_icon.png);
    height: calc(100% - 30px);
    width: 67px;
    display: inline-block;
    background-position: center;
}

#amps-icon {
    background: url(../../images/amp_icon.png);
    height: calc(100% - 30px);
    width: 76px;
    display: inline-block;
    background-position: center;
    background-size: 70% 100%;
}

#roboRIO {
    background-color: var(--secondary-color);
    height: calc(100% - 10px);
    margin-right: 169px;
}

#roboRIO-icon {
    background: url(../../images/roborio_icon.png);
    background-size: 90% 90% !important;
    height: calc(100% - 10px);
    width: 96px;
    display: inline-block;
    background-position: center;
}

#CPU, #RAM {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#CPU-icon {
    background: url(../../images/cpu_icon.png);
    background-size: 90% 90%;
    /*height: calc(100% - 30px);
    width: 7vw;*/
    height: 50%;
    width: 4vw;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

#RAM-icon {
    background: url(../../images/ram_icon.png);
    background-size: 90% 90%;
    /*height: calc(100% - 30px);
    width: 7vw;*/
    height: 50%;
    width: 4vw;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

#other-options {
    position: absolute;
    right: 50px;
    background-color: transparent;
    height: calc(100% - 10px);
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
}

@keyframes barrelRoll {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes invertBarrelRoll {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

#gears {
    margin-right: 10px;
    /*height: calc(100% - 30px);
    width: 7vw;*/
    height: 66px;
    width: 83px;
    display: inline-block;
    position: relative;
    background-color: transparent;
}

#gears i {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 15px;
    background: url(../../images/settings_icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    animation: barrelRoll 2s infinite linear;
}

#gears i:last-of-type {
    top: 12px;
    left: 41px;
    animation-name: invertBarrelRoll;
}

#gears:hover > i {
    animation-name: invertBarrelRoll;
}

#gears:hover > i:last-of-type {
    animation-name: barrelRoll;
}

#menu {
    background: url(../../images/menu_icon.png);
    background-size: 70% 70%;
    height: 70px;
    width: 66px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes menuAnimate {
    0% { background-size: 70% 70%; }
    25% { background-size: 30% 30%; }
    50% { background-size: 110% 110%; }
    100% { background-size: 70% 70%; }
}

#menu:hover {
    animation: 0.5s menuAnimate 1 linear;
}


/****** Widgets: ******/

/* All Widget Content - */

.content {
    position: absolute;
    top: 40px;
    left: 0;
    height: calc(100% - 40px);
    width: 100%;
    border: 0.1px solid red;
    color: white;
    font-size: 9pt;
}

/* Widget Container - */

#widget-box {
    position: fixed;
    left: 510px;
    top: calc(15vh - 20px);
    width: 66vw;
    height: 80vh;
    
    z-index: 2;
    padding: 10px;
    margin-top: 0px;
    overflow: hidden;
    background: transparent;
}

#widget-box > * {
    display: inline-flex;
    background-color: var(--secondary-color);
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    /*top: 40px;*/
}

#widget-box > * > * {
    display: inline-block;
}

/* Camera Widget - */

#camera {
    background-size: contain;
    z-index: 3;
    padding: 0;
    position: fixed;
    top: calc(15vh - 5px);
    left: 2vw;
    width: 480px;
    height: 360px;
    background-color: #333;
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    background-image: url('http://localhost:1181/?action=stream');
    background-repeat: no-repeat;
}

#camera-bar {
    width: 100%;
    height: 40px;
    background: var(--secondary-color);
    position: absolute;
    bottom: -40px;
    left: 0;
    margin: 0;
    z-index: 4;
}

#camera-bar * {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

#camera-bar p {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--primary-color);
}

#camera-bar button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: var(--secondary-color);
}

#camera-bar button:hover {
    filter: brightness(110%);
}

.camera-preload {
    display: none;
}

.error {
    color: red;
}

/* Auton Modes Widget - */

#auton-modes {
    position: relative;
    height: 175px;
    width: 45vw;
    /*width: 692.275px;*/
    box-sizing: border-box;
}

#auton-modes > .content {
    padding: 5px;
    box-sizing: border-box;
}

.auton-mode {
    width: calc(25% - 3px);
    height: 100%;
    position: relative;
    border: 0.1px solid red;
    display: inline-block;
}

.auton-mode > p {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}

/* Motor Widget - */

#motors-widget {
    position: relative;
    width: 40vw;
    box-sizing: border-box;
    height: 300px;
}

.img-container {
    border: 1px solid blue;
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(50% - 10px);
    height: calc(100% - 15px);
}

.motors-container {
    border: 1px solid red;
    position: absolute;
    top: 5px;
    right: 5px;
    width: calc(50% - 15px);
    height: calc(100% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.motor {
    width: 98%;
    height: auto;
    font-size: 14px;
    display: block;
    border: 1px solid green;
    margin-bottom: 10px;
}

.motor > p {
    margin-bottom: 2px;
    margin-top: 2px;
}

.motor progress {
    width: 100%;
    height: 15px;
    -webkit-appearance: none;
    appearance: none;
}

/* Progress bar container (gray background part) */
.motor progress::-webkit-progress-bar {
    background-color: #666;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

/* Progress bar value (colorful stripes part) */
.motor progress::-webkit-progress-value {
    background-image: linear-gradient(to right, orangered, gold);
  
      border-radius: 2px;
  }

.motor progress::before {
    content: attr(value);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-color);
    font-weight: bold;
}

/* Label Widget - */

.label-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 40px;*/
    height: 100%;
    background: var(--label-color);
    color: var(--primary-color);
    text-align: center;
    display: inline-block;
}

.label-info {
    position: absolute;
    /*bottom: -50px;*/
    bottom: -3px;
    right: 6px;
    background: none;
    color: var(--primary-color);
    display: inline;
}


.label-title > p {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -25%);
    color: inherit;
    font-weight: bold;
}

.label-info > p {
    text-align: center;
    color: inherit;
    font-size: 9pt;
}

.label-container {
    display: inline-block;
    position: absolute;
    /*top: -40px;*/
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    height: 40px;
}

/* Gyro - */

.widget-gyro-frame, #gyro {
    width: 175px;
    height: 175px;
    /*position: relative;*/
}

/* Values Box - */

.key {
    font-size: 8pt;
    color: white;
    border-bottom: 1px solid #777;
    width: 100%;
    position: relative;
    padding: 3px;
    padding-bottom: 17px;
    margin-bottom: 5px;
    box-sizing: border-box;
    height: auto;
    overflow-x: hidden;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#values-box {
    position: relative;
    height: 300px;
    width: 252.5px;
    box-sizing: border-box;
}

#values-box > .content {
    padding: 10px;
    box-sizing: border-box;
    overflow-y: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.value-container {
    width: 95%;
    height: 95%;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.val-box {
    color: gold;
    width: auto;
    text-align: center;
    max-width: 50%;
    height: auto;
    word-wrap: break-word;
    filter: brightness(105%);
    background-color: #666;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: auto;
    -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
    /*font-size: 10.6px;*/
}


.key-box {
    max-width: 50%;
    height: auto;
    width: auto;
}

.val-box, .key-box {
    display: inline-block;
}