:root {
    --primary-color: goldenrod;
    --secondary-color: #444;
    --label-color: #333;
}

.container-after-titlebar > * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-after-titlebar {
    /* A CSS hack to fix position relative to container: */
    transform: translateX(0) translateY(0);
    overflow: hidden !important;
}

.window-title {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "Roboto";
    src: url(Roboto-Medium.ttf);
}

body, .container-after-titlebar {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #222;
}

.container-after-titlebar {
    font-family: "Roboto";
}

button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, widget_box, article, header, etc. */
#widget_box, article, header {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #222;
}
#timer {
    font-family: monospace;
    display: block;
    height: 10vh;
    width: 20vw;
    top: 10px;
    left: 28px;
    font-size: 10vh;
    line-height: .8;
    position: absolute;
    color: white;
    transition: 1s ease color;
}
header {
    width: 20vw;
    height: 20vh;
    top: 15px;
    left: 17vw;
    color: white;
}
#camera {
    padding: 0;
    position: fixed;
    top: calc(15vh - 5px);
    left: 2vw;
    width: 480px/*50vw*/;
    height: 360px/*80vh*/;
    background-color: #333;
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    background-image: url('http://localhost:1181/?action=stream');
    background-repeat: no-repeat;
}

#camera {
    background-size: contain;
    z-index: 3;
}
article {
    top: 0;
    right: 12vw;
    height: 100vh;
    width: 35vw;
}
/*#diagramcontainer svg {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}*/

/*#arm-container {
    stroke: gray;
    fill: transparent;
    stroke-width: 2;
}*/

text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
.gyro {
    width: 100%;
    height: calc(12vw - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    transform: scale(0.8);
    margin: 0;
    margin-bottom: -10px;
}
#gyro {
    width: 125px;
    height: 125px;
}
#gyro-arm {
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}
#gyro-number {
    font-size: 22px;
    text-anchor: middle;
}
#robot-diagram {
    position: absolute;
    bottom: 1px;
    right: 0px;
    z-index: 20;
}
#arm-rotational {
    position: absolute;
    bottom: -25px;
    right: 158px;
}
#robot-arm-placeholder {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    stroke: rgba(256, 256, 256, 0.3);
}


#team {
    font-size: 28px;
    letter-spacing: -1px;
}

#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 6;
}
body.login #login {
    display: flex;
}
#login :disabled {
    opacity: 0.6;
}
#login > * {
    height: 40px;
}
#login > button {
    margin-left: 5px;
}


#logo {
    position: fixed;
    bottom: 10px;
    left: 28px;
    width: 470px;
    height: 130px;
    border-radius: 25px;
}

#logo > img {
    width: 100%;
    height: 100%;
}


.infinite-recharge-frame, #team_logo {
    position: fixed;
    bottom: 150px;
    left: 28px;
    width: 270px;
    height: 110px;
    border-radius: 25px;
    border: 1px solid darkgoldenrod;
    background-image: url("../widgets/infinite_recharge/infinite_recharge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes recharging {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}


.infinite_recharge {
    width: 270px;
    height: 100%;
    border-radius: 25px;
    opacity: 0;
}

.infinite_recharge:hover {
    animation: recharging 5s infinite reverse;
}


.header {
    color: white;
    font-size: 11pt;
}

.content {
    color: white;
    font-size: 9pt;
}

*[val="false"] {
    background: red;
    color: white;
}

*[val="true"] {
    background: green;
    color: white;
}

.toggle {
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.toggle:hover {
    filter: brightness(90%);
}

.toggle:focus {
    filter: brightness(80%);
}

#diagramcontainer {
    display: block;
    z-index: 20;
    position: fixed;
    bottom: 0;
    right: 0;
}
#sidebar {
    position: fixed;
    top: 0;
    left: 2px;
    width: 16px;
    height: 100%;
    max-height: 100%;
    max-width: 500px;
    background: var(--label-color)/*rgb(11, 20, 20)*/;
    padding: 2px;
    z-index: 5;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.5s ease width;
}

#sidebar_content {
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 200;
    width: calc(90% - 18px);
    max-width: 500px;
    background: var(--label-color)/*rgb(11, 20, 20)*/; 
    height: 100%;
    color: rgb(194, 137, 137);
    padding: 25px; 
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s ease opacity;
}

.sb_key, .sb_val {
    color: var(--secondary-color);
    background: var(--primary-color);
    border: 1px solid darkgoldenrod;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
}

.sb_key {
    width: 45%;
    border-radius: 2px 0 0 2px;
    border-right: 2px solid darkgoldenrod;
}

.sb_key.ui-draggable-dragging {
    font-weight: bold;
    width: auto !important;
    cursor: grabbing !important;
    border-right: none !important;
}

.sb_key.ui-draggable {
    cursor: grab;
}

.sb_val {
    width: 55%;
    border-radius: 0 2px 2px 0;
}

#sidebar_bar {
    font-size: 7.2pt;
    cursor: pointer;
    width: 12px;
    height: 100%;
    background: var(--primary-color); 
    position: absolute;
    top: 0px;
    right: 0px;
    color: var(--secondary-color);
    padding: 2px;
    text-align: center;
}

#ds_outline {
    border: 1px solid red;
    width: 1041px;
    height: 233px;
    position: fixed;
    bottom: 3px;
    left: 163px;
    
}

.sidebar_values {
    width:100%; border: 5px solid black; border-collapse: collapse;
}

#camera-bar {
    width: 100%;
    height: 40px;
    background: var(--secondary-color);
    position: absolute;
    bottom: -40px;
    left: 0;
    margin: 0;
    z-index: 4;
}

#camera-bar * {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

#camera-bar p {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--primary-color);
}

#camera-bar button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: var(--secondary-color);
}

#camera-bar button:hover {
    filter: brightness(110%);
}

.camera-preload {
    display: none;
}

.error {
    color: red;
}


/** Miscellaneous widgets: **/


.widget-gyro-frame, #gyro {
    width: 175px;
    height: 175px;
    /*position: relative;*/
}


#widget_box {
    position: fixed;
    left: 510px;
    top: calc(15vh - 5px);
    width: 66vw;
    height: 80vh;
    border: 1px solid red;
    z-index: 2;
    padding: 10px;
    margin-top: 0px;
}

#widget_box > * {
    display: inline-flex;
    background-color: var(--secondary-color);
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    /*top: 40px;*/
}

#widget_box > * > * {
    display: inline-block;
}

#auton_modes {
    position: relative;
    height: 175px;
    /*width: 45vw;*/
    width: 692.275px;
    box-sizing: border-box;
}

#auton_modes > .content {
    padding: 5px;
    box-sizing: border-box;
}

.auton_mode {
    width: calc(25% - 3px);
    height: 100%;
    position: relative;
    border: 0.1px solid red;
    display: inline-block;
}

.auton_mode > p {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}

#motors_widget {
    position: relative;
    width: 40vw;
    box-sizing: border-box;
    height: 300px;
}

.img_container {
    border: 1px solid blue;
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(50% - 10px);
    height: calc(100% - 15px);
}

.motors_container {
    border: 1px solid red;
    position: absolute;
    top: 5px;
    right: 5px;
    width: calc(50% - 15px);
    height: calc(100% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.motor {
    width: 98%;
    height: auto;
    font-size: 14px;
    display: block;
    border: 1px solid green;
    margin-bottom: 10px;
}

.motor > p {
    margin-bottom: 2px;
    margin-top: 2px;
}

.motor progress {
    width: 100%;
    height: 15px;
    -webkit-appearance: none;
    appearance: none;
}

/* Progress bar container (gray background part) */
.motor progress::-webkit-progress-bar {
    background-color: #666;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

/* Progress bar value (colorful stripes part) */
.motor progress::-webkit-progress-value {
    background-image: linear-gradient(to right, orangered, gold);
  
      border-radius: 2px;
  }

.motor progress::before {
    content: attr(value);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--secondary-color);
    font-weight: bold;
}

#values_box {
    position: relative;
    height: 300px;
    width: 252.5px;
    box-sizing: border-box;
}

#values_box > .content {
    padding: 10px;
    box-sizing: border-box;
    overflow-y: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.value_container {
    width: 95%;
    height: 95%;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.label-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 40px;*/
    height: 100%;
    background: var(--label-color);
    color: var(--primary-color);
    text-align: center;
    display: inline-block;
}

.label-info {
    position: absolute;
    /*bottom: -50px;*/
    bottom: -3px;
    right: 6px;
    background: none;
    color: var(--primary-color);
    display: inline;
}


.label-title > p {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -25%);
    color: inherit;
    font-weight: bold;
}

.label-info > p {
    text-align: center;
    color: inherit;
    font-size: 9pt;
}

.label_container {
    display: inline-block;
    position: absolute;
    /*top: -40px;*/
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    height: 40px;
}

.content {
    position: absolute;
    top: 40px;
    left: 0;
    height: calc(100% - 40px);
    width: 100%;
    border: 0.1px solid red;
}

.key {
    font-size: 8pt;
    color: white;
    border-bottom: 1px solid #777;
    width: 100%;
    position: relative;
    padding: 3px;
    padding-bottom: 17px;
    margin-bottom: 5px;
    box-sizing: border-box;
    height: auto;
    overflow-x: hidden;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.val_box {
    color: gold;
    width: auto;
    text-align: center;
    max-width: 50%;
    height: auto;
    word-wrap: break-word;
    filter: brightness(105%);
    background-color: #666;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: auto;
    -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.75);
    /*font-size: 10.6px;*/
}


.key_box {
    max-width: 50%;
    height: auto;
    width: auto;
}

.val_box, .key_box {
    display: inline-block;
}